# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = os.path.join("..","WeatherPy", "output_data", "city_weather_data.csv")
clean_city_weather_data_df = pd.read_csv(csvpath)
clean_city_weather_data_df

,City Name,City ID,Country,Latitude,Longitude,Date of Data Calculation,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Barcelona,3128760,ES,41.39,2.16,1593039780,75.00,83,20,4.70
1,Mana,3381041,GF,5.66,-53.78,1593039830,78.49,86,33,6.64
2,Rikitea,4030556,PF,-23.12,-134.97,1593039830,70.66,56,89,10.56
3,Wilmington,4499379,US,34.23,-77.94,1593039563,86.00,66,20,10.29
4,Puerto Ayora,3652764,EC,-0.74,-90.35,1593039830,71.01,90,48,3.00
...,...,...,...,...,...,...,...,...,...,...
545,Simbahan,1695180,PH,6.30,120.58,1593039896,83.16,72,94,4.12
546,Jinchang,1805733,CN,38.50,102.17,1593039896,70.41,20,82,3.71
547,Tessaoua,2438823,NE,13.76,7.99,1593039896,94.75,19,19,5.03
548,Pangnirtung,6096551,CA,66.15,-65.71,1593039897,39.20,93,75,6.93
549,Biankouma,2291666,CI,7.74,-7.61,1593039897,69.58,96,73,2.57

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
# Configure gmaps
gmaps.configure(api_key=g_key)
#load locations and humity for each location
locations = clean_city_weather_data_df[["Latitude", "Longitude"]]
humidity = clean_city_weather_data_df["Humidity (%)"]

# Plot Heatmap
humidity_fig = gmaps.figure()

# Create heat layer and add to map
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

humidity_fig.add_layer(humidity_layer)
humidity_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure